*,*::after,*::before{
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: #00bbf0 !important;
    cursor:pointer;
}

.slideshow{
    color: white;
    width: 100%;
    height: 120%;
    background-image: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center; 
}

.butn{
    text-align: center;
    background-color: #00bbf0;
    border: 0px;
    border-radius: 0;
    color: white;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
.butn:hover{
    background-color: #0080f0;
}

#carouselExampleIndicators .carousel-indicators button{
    background-color: white;
    opacity: 1;
    margin-top: -15%;
    width: 10px !important;
    height: 20px !important;
    border: 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.carousel-indicators .active{
    /* margin: 0px 5px; */
    background-color: #00bbf0 !important;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}

#carouselExampleIndicators{
    top: 15%;
}

.slideshow .carousel-item img{
    margin-bottom: 30px;
    animation: hobba 4s infinite linear;
    -webkit-animation: hobba 4s infinite linear;
}
@keyframes hobba {
    0%{
        transform: translateY(30px);
        -webkit-transform: translateY(30px);
        -moz-transform: translateY(30px);
        -ms-transform: translateY(30px);
        -o-transform: translateY(30px);
}
    50%{
    transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
}
    100%{
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
}
}

.services,.ab,.opt{
    text-align: center;
}

span{
    color: #00bbf0;
}

.about{
    color: white;
    background-color: #00204a;
}

.opt img{ 
    margin: 20px 0px;
    border:8px solid #00204a;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.opt p{
    margin: 30px 0px; 
}

.mmbr{
    padding: 20px 0px;
    background-color: #000f4a;
    text-align: center;
}
.mmbr img{
    width: 80%;
    margin: 20px 0px;
    border:10px solid white;
    border-radius: 50%;
}
.mmbr a i{
    color: white;
}

.cli{
    width: 30%;
}

footer{
    background-color: #000f4a;
    color: white;
}
footer form {
    padding: 0px 5px;
    border-bottom: 2px solid white;
    outline: none;
}
footer form input{
    padding: 10px 0px;
    outline: none;
    color: rgba(255, 255, 255, 0.514);
}

@media screen and (max-width:1200px){
    .cli{
        width: 80%;
    }
    #carouselExampleIndicators{
        top: 5%;
    }
}